<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gene.study.web.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.gene.study.web.model.User" >
    <id column="id" property="id" jdbcType="long" />
    <result column="name" property="name" jdbcType="String" />
    <result column="pwd" property="pwd" jdbcType="String" />
    <result column="state" property="state" jdbcType="String" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, pwd, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gene.study.web.model.UserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=long}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where id = #{id,jdbcType=long}
  </delete>
  <delete id="deleteByExample" parameterType="com.gene.study.web.model.UserExample" >
    delete from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gene.study.web.model.User" >
    insert into user (id, name, pwd, state
      )
    values (#{id,jdbcType=long}, #{name,jdbcType=String}, #{pwd,jdbcType=String}, #{state,jdbcType=String}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gene.study.web.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=long},
      </if>
      <if test="name != null" >
        #{name,jdbcType=String},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=String},
      </if>
      <if test="state != null" >
        #{state,jdbcType=String},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gene.study.web.model.UserExample" resultType="java.lang.Integer" >
    select count(*) from user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=long},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=String},
      </if>
      <if test="record.pwd != null" >
        pwd = #{record.pwd,jdbcType=String},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=String},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user
    set id = #{record.id,jdbcType=long},
      name = #{record.name,jdbcType=String},
      pwd = #{record.pwd,jdbcType=String},
      state = #{record.state,jdbcType=String}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gene.study.web.model.User" >
    update user
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=String},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=String},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=String},
      </if>
    </set>
    where id = #{id,jdbcType=long}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gene.study.web.model.User" >
    update user
    set name = #{name,jdbcType=String},
      pwd = #{pwd,jdbcType=String},
      state = #{state,jdbcType=String}
    where id = #{id,jdbcType=long}
  </update>
</mapper>